* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  scroll-behavior: smooth;
  scroll-margin-top: 200px;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: $base-font-size;
}
