@import "./../styles/base.scss";

#app {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: linear-gradient(135deg, #f6f8fa, #e9ecef);

  @include desktop {
    align-items: center;
  }
}
