@use "breakpoints";
@import "./../styles/base.scss";

#app {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2rem;
  background: linear-gradient(135deg, #f6f8fa, #e9ecef);

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}
