@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

//Breakpoints:

$tablet: 768px;
$large-desktop: 1200px;

//Effects:

$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

//Colors:

$primary-color: white;

//Typography:

$base-font-family: "Noto Sans", sans-serif;
$base-font-size: 16px;
$heading-font-size: 32px;
